@model GetUserViewModel
@{
    ViewBag.Title = "Get User";
}

    <div>
        <p>ID       : @Model.UserAccount.Id</p>
        <p>Username : @Model.UserAccount.Username</p>
        <p>Password : @Model.UserAccount.Password</p>
        <p>FName    : @Model.UserAccount.Fname</p>
        <p>Lname    : @Model.UserAccount.Lname</p>
        <p>Address  : @Model.UserAccount.Address</p>
        <p>EMail    : @Model.UserAccount.EMail</p>
    </div>