@model IEnumerable<PlantInfo>
@{
}

    <div class="row ">
        <div class="col-md-2 bg-dark">
            <ul class="nav flex-column sticky-top">
                <li class="nav-item dropdown">
                <li>
                    <form class="form-inline" asp-action="Search" asp-controller="Shop">

                        <label for="Category">Category</label>
                        <br />
                        <select name="Category" class="form-control">
                            <option class="dropdown-item" value="">Any</option>
                            <option class="dropdown-item" value="Fruit">Fruit Tree</option>
                            <option class="dropdown-item" value="Hedge">Hedge</option>
                            <option class="dropdown-item" value="Evergreen">Evergreen</option>
                            <option class="dropdown-item" value="Native">NZ Native</option>
                            <option class="dropdown-item" value="Palmtree">Palm Tree</option>
                            <option class="dropdown-item" value="Hardwood">Hardwood</option>
                        </select>

                        <br />

                        <label for="GrowthRate">Growth Rate</label>
                        <br />
                        <select name="GrowthRate" class="form-control">
                            <option class="dropdown-item" value="">Any</option>
                            <option class="dropdown-item" value="Fast">Fast</option>
                            <option class="dropdown-item" value="Medium">Medium</option>
                            <option class="dropdown-item" value="Slow">Slow</option>
                        </select>

                        <br />

                        <input name="Name" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                    </form>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="row justify-content-center">
                @foreach (var p in Model)
                {

                    <div class="card m-3 p-0 shadow col-sm-5 col-md-4 col-lg-3">


                        <img src="~/img/trees/@{@p.Name}.jpg" class="card-img" />

                        <h3 class="card-title">
                            @p.Name
                        </h3>

                        <div class="card-body">
                            <div class="card-text">
                                @p.Description
                            </div>
                        </div>

                        <ul class="list-group list-group-flush" style="list-style: none">
                            @if (Context.Session.GetString(SessionRef.Username) == null)
                            {
                                <li class="list-group-item-secondary">
                                    <form method="post">
                                        <input type="hidden" name="Name" value="@p.Name" />
                                        <input value="Please login to buy" onclick="location.href='@Url.Action("Login", "User")'" class="btn btn-success btn-block" />
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="list-group-item-secondary">
                                    <form asp-action="AddToCart" asp-controller="Shop" method="post">
                                        <input type="hidden" name="Name" value="@p.Name" />
                                        <input type="submit" value="BUY" class="btn btn-success btn-block" />
                                    </form>
                                </li>
                            }

                            <li class="list-group-item-action">
                                <form asp-action="ProductPage" asp-controller="Shop" method="post">
                                    <input type="hidden" name="Name" value="@p.Name" />
                                    <input type="submit" value="VIEW" class="btn btn-block btn-outline-primary" />
                                </form>
                            </li>
                        </ul>
                    </div>

                }

            </div>
        </div>
    </div>
