@model PlantInfo
@{
    ViewBag.Title = "Specials";
}


    <div class="card col-auto" style="width: 40em">
        <p>
            This is the home page which will display the special deals
        </p>

        <p>@Model.Id</p>
        <p>@Model.Name</p>
        <p>@Model.Description</p>
        <p>@Model.MaintReq</p>
        <p>@Model.Price</p>
        <p>@Model.Category</p>
        <p>@Model.SoilDrain</p>
        <p>@Model.Sun</p>
        <p>@Model.Maint</p>
        <p>@Model.MaxHeight</p>
        <p>@Model.GrowthRate</p>

    </div>